snippet vue
<template>
</template>

<script>
export default {
	name: '${1}',
	props: [],
	components: {
	},
	data: function () {
		return {
		};
	},
	computed: {
	},
	methods: {
	},
	mounted() {
	},
}
</script>

<style scoped>
</style>
endsnippet
